<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SCRIPTS AND LINKS -->

    <!-- tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>

    <title>Cat API (Fast API Practice) - Heather Gray</title>
</head>

<p class="p-6 bg-blue-600 text-white text-xl">Cat API</p>

<body>
    <div class="mx-4">
        <button class=" rounded-full bg-blue-600 text-white text-sm p-2 pl-4 pr-4 mb-5 mt-5 ">Add Cat</button>
        <button class=" rounded-full bg-blue-600 text-white text-sm p-2 mb-5 mt-5 ">Edit Cat</button>
        <button class=" rounded-full bg-blue-600 text-white text-sm p-2 mb-5 mt-5 ">Delete Cat</button>
        <table class="min-w-[50%] mb-4">
            <thead class="border">
                <tr>
                    <th class="px-4 py-2"></th>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Age</th>
                    <th class="px-4 py-2">Color</th>
                    <th class="px-4 py-2">Temperament</th>
                    <th class="px-4 py-2">Weight (lbs)</th>
                    <th class="px-4 py-2">Description</th>
                    <th class="px-4 py-2">['Image']</th>
                </tr>
            </thead>
            <tbody class="border">
                {% for cat, v in cats.items() %}
                <tr>
                    <td class="px-4 py-2">
                        <input type="checkbox" class="accent-blue-500">
                    </td>
                    <td class="px-4 py-2">
                        {{ cats[cat].name }}
                    </td>
                    <td class="px-4 py-2">
                        {{ cats[cat].age }}
                    </td>
                    <td class="px-4 py-2">
                        {{ cats[cat].color }}
                    </td>
                    <td class="px-4 py-2">
                        {{ cats[cat].temperament }}
                    </td>
                    <td class="px-4 py-2">
                        {{ cats[cat].weight_in_lbs }}
                    </td>
                    <td class="px-4 py-2">
                        {{ cats[cat].description }}
                    </td>
                    <td class="px-4 py-2">
                        <img src="{{ cats[cat].image }}" alt="{{ cats[cat].name }}" width="150" height="150">
                    </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>